<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit laudantium
      facilis corrupti eaque sint, similique molestias placeat minus aliquid
      voluptatem repellat quisquam quis tenetur aperiam eos quod? At quis
      pariatur aspernatur laborum nisi, maxime dicta minus ullam in omnis optio
      aut culpa aperiam, delectus accusamus modi laboriosam blanditiis
      consequuntur veritatis, alias minima soluta fuga repudiandae iusto.
      Cupiditate modi quia voluptatum aliquam quasi suscipit quo eligendi rem.
      Officia, odio quasi architecto, qui harum eos voluptatum, iure modi
      dignissimos ullam exercitationem alias aut ex!
    </p>
    <h1>Привет</h1>
  </body>
</html>
