<article class="example" id="uk">
  <h1>HTML-partials</h1>

  <!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->
  <img src="images/logo.png" alt="" width="320" />

  <p>
    This <code>example.html</code> file is an example of such a snippet, with
    the markup of a certain part of the main page. This is very convenient for
    team development on student projects, when several people write in one HTML
    file at once.
  </p>

  <p>
    The syntax for adding a fragment to the main file is:
    <code> &lt;include src="./partials/filename.html"&gt;&lt;/include&gt;</code>
  </p>

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo obcaecati
    cupiditate doloremque, explicabo sed dolore labore sint nemo placeat
    blanditiis doloribus! Iste quam nam, culpa odit minima ratione commodi
    reiciendis. Excepturi expedita eligendi blanditiis error molestiae,
    consequuntur minus animi! Minima harum quae corporis, facilis laborum
    perspiciatis sint nam sunt, saepe aliquid eius molestiae quisquam
    consequatur recusandae distinctio sed voluptatibus modi. Tenetur numquam
    saepe sit vel consectetur a, sequi cumque nemo non quo maxime accusamus,
    illum rerum deleniti. Repellat exercitationem asperiores unde voluptatem,
    ratione voluptate dolor ullam quo soluta officiis itaque! Veritatis porro
    doloremque quisquam accusamus nihil itaque numquam quidem nulla. Provident
    ipsum neque repellendus minima fuga ut veritatis voluptas nemo, facilis
    ullam dolores assumenda quos eveniet molestias quae obcaecati quis!
    Cupiditate reprehenderit sit, accusamus praesentium corrupti maxime. Odit,
    vitae fugit! Ut nemo optio veniam dolore beatae! Quos magni natus, minima
    asperiores laboriosam officia nulla at ea, quidem eligendi quam eius.
    Sapiente tenetur officia praesentium vel. Veritatis nobis assumenda debitis
    officiis iste ratione pariatur, ullam sint exercitationem? Consectetur,
    neque debitis? Voluptate expedita cum esse tenetur provident eligendi
    accusamus cupiditate asperiores eos? Optio velit soluta natus, ab doloremque
    vitae eum est! Labore fuga, vel voluptate harum corporis quod? Unde quod
    repellendus, ducimus vero dignissimos sequi. Quibusdam accusantium enim
    illo, maiores culpa aliquid. Iure quasi harum minima! Quaerat sequi
    architecto, totam, accusamus non consequuntur neque impedit debitis qui
    eligendi accusantium error. Asperiores dolor eligendi sunt quae, excepturi
    sint sit quo. Porro, temporibus sunt. Deserunt quidem dicta debitis
    veritatis molestias autem consequatur, nulla, minus sapiente a numquam!
    Earum dicta a natus. Esse nostrum molestiae similique, eum atque beatae
    voluptatibus velit nemo facere commodi? Dignissimos. Iure commodi illo
    deserunt dolore labore, quibusdam vel rem, et distinctio rerum libero
    dignissimos numquam. Fuga velit ducimus, est nihil ea in unde omnis
    obcaecati cupiditate odio, aspernatur itaque! Labore.
  </p>
  <p>It is work</p>

  <div class="background"></div>
</article>
